button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;

    &.primary-button{
  background: linear-gradient(135deg, #0ea5a7 0%, #0f766e 100%);
    cursor: pointer;
}

&:active{
  transform: scale(1.1);
}
}

